footer
    background-color: $custom-color-3
    color: $custom-color-5
    padding: 2em 3em
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: start
    a
        color: $custom-color-5
    a:hover
        color: $color-white-link
    > div
        padding: 1em


    .social
        flex: 1
    .navigation
        flex: 1
    .contact
        flex: 2

    .social, .navigation, .contact
        display: flex
        flex-direction: column
        gap: 1rem

    