// breakpoints
$breakpoint-small: 800px !default
$breakpoint-medium: 1600px !default

// colors
$color-main: #1b317a !default
$color-nav-link-active: #3871da !default
$color-nav-link-hover: #2f5fb8 !default
$color-link: #0f6caf !default
$color-link-hover: #094068 !default
$color-em: #1b317a !default
$color-white-text: #ebf2ff !default
$color-white-link: white !default
$color-dropdown: #2C59AB !default
$color-feed-border: #e1eef7 !default
$color-feed-border-focused: #5096C8 !default
$color-feed-focused: #FAFAFA !default

// font
$font-family: "Rubik" !default
$font-url: "/fonts/Rubik-Regular.ttf" !default
