@import "_variables"
@import "_misc"

body
    font-size: 20px
    hr
        width: 100%
        border: none
        border-top: 1px solid $color-nav-link-active


.collage, .promo
    min-height: 30vh
    padding: 2em 0

    img
        width: 100%

.odd
    width: 100%
    padding: 2em 0

:root
  --gallery-gap: 1.5em
  --gallery-items-per-row: 1



.gallery_list-wrapper
    justify-content: start
    display: flex
    flex-wrap: wrap
    gap: var(--gallery-gap)

.gallery_list-item
    flex: 0 0 calc((100% - (var(--gallery-gap) * (var(--gallery-items-per-row) - 1))) / var(--gallery-items-per-row))

    img
        width: 100%
        object-fit:cover

// large screen
@media (min-width: $breakpoint-medium)
    .gallery_list-item, .gallery-image
        --gallery-items-per-row: 3


// medium screen
@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium)
    .gallery_list-item, .gallery-image
        --gallery-items-per-row: 2


.dog_description
    padding: 1em 0

.copyright
    display: flex
    font-size: 8pt
    padding: 1rem
    justify-content: center
    color: $color-nav-link-active
    span
        padding: 0 3px

.gallery_nav
    a
        color: $color-nav-link-active

.gallery_list-item
    position: relative

    .name
        font-size: 16pt
        color: $color-nav-link-active
    .badge_adopted
        position: absolute
        top: 1rem
        left: 1rem
        background-color: $custom-color-3
        color: #FFF
        padding: 1rem
        border: 0 solid #FFF
        border-radius: 15px
