{# ================== #}
{# === taxonomies === #}
{# ================== #}

{# === tags === #}
{%- component macros.tags(tags) -%}
<span class="tags">
    {%- for tag in tags -%}
    {%- set url = get_taxonomy_url(kind="tags", term=tag) -%}
    <a class="tag" href="{{url}}">{{ tag }}</a>
    {%- endfor -%}
</span>
{%- endcomponent macros.tags -%}

{# === author === #}
{%- component macros.authors(authors) -%}
<span class="authors">
    {%- for author in authors -%}
    {%- set url = get_taxonomy_url(kind="authors", term=author) -%}
    <a class="author" href="{{url}}">{{<i.user size="16px" />}}{{ author }}</a>{% if not loop.last %}, {% endif %}
    {%- endfor %}
</span>
{%- endcomponent macros.authors -%}

{# === translations === #}
{% component macros.translations(resource, config) %}
{% if resource.extra.translations %}
    {% for ltag,lurl in resource.extra.translations %}
        {% set lcfg = config.extra.translations[ltag] %}
        <a href="{{lcfg.base_url}}{{lurl}}">{{lcfg.flag}}</a>
    {% endfor %}
{% endif %}
{%- endcomponent macros.translations %}

{# === category === #}
{%- component macros.category(category) -%}
<span class="category">
    {%- for cat in category -%}
    {%- set url = get_taxonomy_url(kind="category", term=cat) -%}
    <a class="cat" href="{{url}}">{{< i.folder size="16px" />}}{{ cat }}</a>
    {%- endfor -%}
</span>
{%- endcomponent macros.category -%}

{# === taxonomies === #}
{%- component macros.taxonomies(taxonomies) -%}
{%- if taxonomies.category -%}{{< macros.category category={taxonomies.category} />}}{%- endif -%}
{%- if taxonomies.authors -%}{{< macros.authors authors={taxonomies.authors} />}}{%- endif -%}
{%- if taxonomies.tags -%}{{< macros.tags tags={taxonomies.tags} />}}{%- endif -%}
{%- endcomponent macros.taxonomies -%}

{# === formatted date component === #}
{%- component macros.date(date, icon: bool = true, locale: string = "", format: string = "%Y-%m-%d") -%}
{%- if date -%}
{%- if icon %}{{<i.clock size="16px" />}}{% endif -%}
{%- if locale -%}{{ date | date(format=format, locale=locale) }}
{%- else -%}{{ date | date(format=format) }}
{%- endif -%}
{%- endif -%}
{%- endcomponent macros.date -%}

{# =========================== #}
{# === resize static image === #}
{# =========================== #}
{% component macros.resize_static(path, width=160, height=160, op="fit_height") %}
{%- set resized = resize_image(path=path, width=width, height=height, op=op, quality=85) -%}
{{ resized.url }}
{%- endcomponent macros.resize_static %}


{# ===================== #}
{# === image gallery === #}
{# ===================== #}
{% component macros.gallery(images, height=200, colocated_path="/") %}
  {% set gallery_class = "class=gallery" %}
  {% set gallery_style = ""  %}
  <div {{ gallery_class }}>
    <div class="images" {{ gallery_style }}>
          {% for img in images %}
            {% if img.path %}
              {% set just_img_path = img.path %}
              {% set img_path = colocated_path ~ img.path %}
            {% else %}
              {% set just_img_path = img %}
              {% set img_path = colocated_path ~ img %}
            {% endif %}
            
            {%- set resized = resize_image(path=img_path, width=1024, op="fit_width", quality=85) -%}

            <div class="gallery-image">
              <a href="{{resized.url}}"
                data-pswp-width="{{resized.width}}"
                data-pswp-height="{{resized.height}}">
                    <img src="{{<macros.resize_static path={img_path} width={height} height={height} />}}"
                    {% if img.title %}
                    title="{{img.title}}"
                    {% endif %}
                    />
                </a>
              </div>
          {% endfor %}
      </div>
  </div>
{% endcomponent macros.gallery %}

{% component macros.photoswipe_script(gallery="") %}
<script type="module">
    console.log('asdasd {{gallery}}')
    import PhotoSwipeLightbox from '/javascript/photoswipe-lightbox.esm.js';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '{{gallery}}',
        children: 'a',
        pswpModule: () => import('/javascript/photoswipe.esm.js'),
    });
    lightbox.init();
</script>
{% endcomponent macros.photoswipe_script %}

{# === replace gallery === #}
{% component macros.replace_gallery(resource) %}
	{%- set content = resource.content %}
	{%- if content is containing(pat="[GALLERY]") %}
		{%- set content = content | replace(from="[GALLERY]", to=<macros.gallery images={resource.extra.gallery} />) %}
	{%- endif -%}
	{{ content | safe }}
{%- endcomponent macros.replace_gallery %}


{# ========================= #}
{# === table of contents === #}
{# ========================= #}
{% component macros.toc(toc, level: integer, depth, config) %}
{%- if level == 1 %}
<div class="toc">
<h3>{{config.extra.theme.toc_title}}</h3>
{%- endif %}
{%- if level != 1 %}
<ol class="h{{ level }}">
{%- endif %}
{%- for h in toc %}
    {%- if level != 1 %}
    <li><a href="{{ h.permalink | safe }}">{{ h.title }}</a>
        {%- endif %}
        {% if h.children and level <= depth -%}
            {{<macros.toc toc={h.children} level={level+1} depth={depth} config={config} />}}
        {%- endif %}
    {%- if level != 1 -%}
    </li>
    {%- endif %}
    {%- endfor %}
{%- if level != 1 %}
</ol>
{%- endif %}
{%- if level == 1 %}
</div>
{%- endif %}
{%- endcomponent macros.toc %}

{# === replace toc === #}
{% component macros.replace_toc(resource, config) %}
	{%- set content = resource.content %}
	{%- if content is containing(pat="[TOC]") %}
		{%- set content = content | replace(from="[TOC]", to=<macros.toc toc={resource.toc} level={1} depth={resource.extra.toc_depth | default(value=6)} config={config} />) %}
	{%- endif -%}
	{{ content | safe }}
{%- endcomponent macros.replace_toc %}
