<nav class="nav">
    <div class="logo">
      <a href="/" class="item">
        
        <span>
          {%- set logo = resize_image(path='logo.png', height=128, op="fit_height", quality=85) -%}
          <img src="{{logo.url}}">
        </span>
        <span class="title">
          {%- set title = resize_image(path='title.png', height=128, op="fit_height", quality=85) -%}
          <img src="{{title.url}}">
        </span>
      </a>
    </div>

    <div class="links">
        {%- for link in config.extra.nav.links %}
        {%- set s = get_section(path=link) -%}
        {%- if not s.extra.hide -%}
        <a href="{{s.permalink}}" class="item">
          <div>{{s.title}}</div>
        </a>
        {%- endif -%}
        {% endfor %}

      {%- if not lang == "en" -%}
        <a href="/en" class="item">
        {%- else -%}
        <a href="/" class="item">
      {%- endif -%}
        <span>{{trans(key="switch_lang", lang=lang)}}</span>
      </a>


      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <span>&#9776;</span>
      </a>
    </div>

    <div id="links" class="links_hidden">
        {%- for link in config.extra.nav.links %}
        {%- set s = get_section(path=link) -%}
        {%- if not s.extra.hide -%}
        <a href="{{s.permalink}}" class="item">
          <div>{{s.title}}</div>
        </a>
        {%- endif -%}
        {% endfor %}
    </div>


    <script>
      var elem = document.getElementById("links");
      var open = false;

      function myFunction () {
        open = !open;
        elem.classList.toggle("open_nav", open);
      }
    </script>
</nav>